html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*navbar*/

.navbar {
  z-index: 999;
  height: 60px;
  width: 100%;
  color: var(--primary-color);
  background-color: #4f5884;
  color: white;
  overflow: hidden;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
}

.buttons-container {
  float: right;
}

.button-empty {
  width: 130px;
  height: 40px;
  background: white;
  color: black;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
} 

.button-full {
  width: 130px;
  height: 40px;
  background: var(--primary-color);
  color: white;
  margin-top: 10px;
  float: left;
  margin-right: 10px;
}

.navbar-content {
  height: 100%;
}

.logo {
  height: 40px;
  margin-right: 50px;
  margin-top: 10px;
  float: left;
}

.logo img {
  height: 100%;
  width:fit-content;
}

.menu-items {
  height: 100%;
  list-style-type: none;
  float: left;
}

.menu-item {
  display: inline-block;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.menu-item-clicked {
  font-weight: 600;
  font-size: 18px;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.underline-text {
  cursor: pointer; /* Change the cursor to a pointer on hover */
  position: relative;
  display: inline-block;
}

.underline-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Adjust the position of the underline */
  width: 100%;
  height: 1px; /* Thickness of the underline */
  background-color: #000; /* Color of the underline */
  transform: scaleX(0); /* Initially, set the scale to 0 to hide the underline */
  transform-origin: center;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.underline-text.clicked::after {
  transform: scaleX(1); /* Scale the underline to show it on click */
}
 /* navbar2 */
 .nav-hero {
  width: 100%;
  position: relative;
  margin-top: 60px;
  background-image: url(../public/images/color-mono.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size:contain;
  height: 20vh;
}

.nav-hero::after {
  content: "";
  width: 100%;
  height: 70px;
  background: url(../public/images/bottom-pattern.png) repeat-x;
  z-index: 3;
}
 /* footer2 */
 .footer-hero {
  width: 100%;
  position: relative;
  margin-top: 60px;
  background-image: url(../public/images/color-mono.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: contain;
  height: 20vh;
}

.footer-hero::before {
  content: "";
  width: 100%;
  height: 70px;
  background: url(../public/images/bottom-pattern-flip.png) repeat-x;
  position: absolute;
  top: 0; /* Place it at the top of .footer-hero */
  z-index: 2; /* Ensure it's above .footer-hero */
}

/*footer*/
.footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  height: auto;
  color: var(--primary-color);
  background-color: #4f5884;
  float: left;
}

.footer hr {
  opacity: 0.5;
  width: 100%;
}

.footer-upper-hr {
  margin-bottom: 40px;
}

.footer-menu {
  width: 100%;
  height: 80px; /* Reduced height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-menu-left,
.footer-menu-right {
  height: 100%;
  list-style-type: none;
}

.footer-menu-left span,
.footer-menu-right span {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
}

.footer-menu-left {
  padding-left: 20px;
  color: white;
}

.footer-menu-right {
  padding-right: 20px;
}

.footer-menu-right .footer-menu-container {
  width: fit-content;
  color: white;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Add text-align for centering text */
}


.footer-logo img {
  height: 32px;
  width: auto;
  margin: 0;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
}
.footer-copyright {
  text-align: center;
  color: white;
  opacity: 0.5;
  padding-top: 10px;
}


/*naslovnica*/

.home-hero {
  width: 100%;
  position: relative;
  margin-top: 60px;
  background: url(../public/images/bg2.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  height: 100vh;
}

.home-hero-elements {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -50px;
}

.teacher-image {
  width: 45%;
  max-width: 400px;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-right: 35%;
  margin-top: 20px; /* Adjust the margin-top value to move the teacher image down */
}

.home-hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px;
  margin-bottom: 280px;
}

.home-hero-text {
  font-size: 35px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-family: Bradley Hand ITC;
  font-weight: 600;
}

.home-hero::after {
  content: "";
  width: 100%;
  height: 70px;
  background: url(../public/images/bottom-pattern.png) repeat-x;
  z-index: 3;
}
@media (max-width: 768px) {
  .home-hero-elements {
    flex-direction: column-reverse;
    align-items: center;
  }

  .teacher-image {
    width: 50%;
    max-width: 300px;
    margin-top: 20px;
    z-index: 1;
  }

  .home-hero-content {
    margin-top: 20px;
    padding: 10px;
  }

  .home-hero-button-container .button-full {
    width: 150px;
    font-size: 16px;
    height: 40px;
  }
}
 /* Style for the Cover1 Container */
 .cover1-container {
  background-color: white; /* Light grey background color */
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  /* Center the cover container */
}
.cover1-container::before {
  content: "";
  background: url(../public/images/girl-back.png);
  position: absolute;
  top: 0px; /* Position it at the bottom */
  right: 60px; /* Position it at the right */
  width: 300px; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
  z-index: 2; /* Set the z-index as needed (less than ::after's z-index) */
}
.cover1-container::after {
  content: "";
  background: url(../public/images/curvy-v2.png);
  position: absolute;
  bottom: 0; /* Position it at the bottom */
  right: -16px; /* Position it at the right */
  width: 800px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  z-index: 3;
}


.cover-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover-text {
  
  flex: 3;
  width:max-content;
  height:max-content; /* Increased flex value for more height */
}
.cover-text p{
  font-size: 20px;
  color: #000;
  margin-bottom: 60px; /* Increased margin for more space between paragraphs */
  font-weight:bold;
}
.cover-image {
  flex: 1;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align to the top */
  transition: transform 0.3s ease;
  margin-bottom: 120px; 
  z-index: 10;/* Add smooth transition for hover effect */
}

.cover-image:hover {
  transform: scale(1.15);
 /* Move 20px up and 20px to the left on hover */
}

/* Placeholder image styling */
img {
  max-width: max-content;
  height: 100%;
  display: block;
}


/* Cover2 */
/* .cover2-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* h2.brush {
  margin: 50px 20px 20px 0;
  font-size: 24px;
  text-align: center;
  color: #000;
  background-color: red;
  position: relative;
  z-index: 0;
  padding-bottom: 2px;
  display: inline-block;
}

.brushed-title-container-cover::before,
.brushed-title-container-cover::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.brushed-title-container-cover::before {
  left: -20px;
  top: 50%;
  background-image: url("../public/images/left-paintingg.png");
  transform: translateY(-50%);
  z-index: -1;
}

.brushed-title-container-cover::after {
  right: -100px;
  top: 50%;
  background-image: url("../public/images/right-paintingg.png");
  transform: translateY(-50%);
  width: 110px;
  height: 50px;
  z-index: -2;
} */

/* .cover2-text {
  margin-top: 50px;
  flex: 1; 
  width: auto; 
  height: 60vh;
} */

/* Cover2 */
/* Cover2 */
/* Cover2 */
/* Cover2 */
.cover2-container {
  background-color: #6f90af; /* Light grey background color */
  padding: 20px;
  width: 100%; /* Adjust width as needed */
  margin: 0 auto;
   /* Center the cover container */
}


.cover2-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* h2.brush {
  margin: 50px 20px 20px 0;
  font-size: 24px;
  text-align: center;
  color: black;
  background-color: #6f90af;
  position: relative;
  z-index: 0;
  padding-bottom: 2px;
  display: inline-block;
}

.brushed-title-container-cover::before,
.brushed-title-container-cover::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.brushed-title-container-cover::before {
  left: -20px;
  top: 50%;
  background-image: url("../public/images/left-paintingb.png");
  transform: translateY(-50%);
  z-index: -1;
}

.brushed-title-container-cover::after {
  right: -100px;
  top: 50%;
  background-image: url("../public/images/right-paintinggb.png");
  transform: translateY(-50%);
  width: 110px;
  height: 50px;
  z-index: -2;
} */

.cover2-text {
  margin-right: 20px;
  flex: 1;
  width: auto;
  height: 30vh;
  display: flex;
  flex-direction: column; /* Align text vertically */
  justify-content: center; /* Center text vertically */
}

.cover2-text p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px; /* Adjusted margin for better spacing between paragraphs */
  font-weight: bold;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px; /* Set the desired width */
  margin: 0 auto; /* Center horizontally */
  flex: 0.7;
  margin-top: 10px;
}


.icon {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon:last-child {
  margin-right: 10px;
}

/* Add white circle with a dotted border */
.icon::before {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 2px dotted #3498db;
  border-radius: 50%;
  position: absolute;
  top: 25%; /* Vertically center the circle */
  left: 50%; /* Horizontally center the circle */
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.icon:hover::before {
  background-color: rgb(115, 116, 117);
}

.icon img {
  width: 64px;
  height: 64px;
  z-index: 1;
  position: relative;
}

.icon h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.icon p {
  font-size: 14px;
  text-align: center;
}

/* Cover3 */
.cover3-container {
  background-color: white; /* Light grey background color */
  padding: 20px;
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center the cover container */
}
.circle3-image {
  flex: 1;
  display: flex;
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center vertically */
  transition: transform 0.3s ease;
  margin-bottom: 120px;
}

.circle3 {
  width: 500px;
  height: 500px;
  background-color: #a7d6f4;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.rotating-image {
  width: 100%;
  height: auto;
  animation: spin 100s linear infinite;
  z-index: 20;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon3-container {
z-index: 30;
position: absolute; /* Position the icon-container relative to the image-container */
  top: 90px; /* Adjust the top position as needed */
  left: 70px;

}

.icon3 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* Initial position */
  transition: transform 0.3s ease; /* Smooth slide transition */
}

.icon3 img {
  width: 64px;
  height: 64px;
  border-radius: 40%;
  background-color: #fff;
  padding: 7px;
}

.icon3 p {
  margin-left: 20px;
  font-size: 32px;
  color: #272f55;
  font-weight: 600;
  height: 20px;
}

.icon3:hover {
  transform: translateX(50px); /* Slide icons to the right on hover */
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*main */
.ingredients-container {
  margin-top: 100px;
  padding-top: 100px;
  width: 100%;
  height: 90%;
  background-color: #efeff2;
}

/* Testimonials */
.testimonial-container {

  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;

}

.testimonial-container::after {
  background-image: url(../public/images/arrow.png);
  background-repeat: no-repeat;
}

.testimonial-containeru {

  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;

}

.testimonials-row {
  background-image: url("../public/images/bg-bw.png");
  background-size: 800px;
}

.testimonials-row2 {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials-row3 {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-container .col-lg-6 {
  padding: 0;
}

.testimonial-container .heading {
  margin-bottom: 100px;
}

.testimonial-container > .tile > div {
  position: relative;
  display: table;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #fff;
}

.testimonial-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  animation: diagonalBounce 2s infinite;
  margin-left: 110px;
  position: relative;
  z-index: 1; /* Set a higher z-index */
}

.testimonial-images {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 110px;
  position: relative;
  z-index: 1; /* Set a higher z-index */
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  position: absolute;
  z-index: 2; /* Set a higher z-index */
}

.testimonial-content {
  width: 100%;
  margin: auto;
  display: block;
  padding-right: 20px;
  padding-left: 120px;
  display: table-cell;
  vertical-align: middle;
}

.testimonial-content-right {
  text-align: right;
  padding-right: 64px;
  padding-left: 120px;
  position: relative; /* Add relative positioning */
  z-index: 2; /* Set a higher z-index */
}

.testimonials-content-right {
  text-align: left;
  padding-right: 64px;
  padding-left: 120px;
  position: relative; /* Add relative positioning */
  z-index: 2; /* Set a higher z-index */
}

.testimonial-content-left {
  text-align: left;
  padding-right: 120px;
  padding-left: 64px;
  position: relative; /* Add relative positioning */
  z-index: 2; /* Set a higher z-index */
}

.testimonial-name {
  font-size: 28px;
  font-weight: 600;
}

.testimonial-position {
  color: #ababab;
  font-size: 16px;
}

.testimonial-quote {
  padding-top: 20px;
  opacity: 0.75;
}

.testimonial-overlay {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 0;
  left: 110px;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 67, 102, 0.669);
  z-index: 0; /* Set a lower z-index to place it under the image */
  overflow: hidden;
}


/* steps */
.content-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
  position: relative; 
}

.content-container2::before,
.content-container2::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  width: 300px; 
  height: 500px; 
  z-index: 2;
  animation: slide 2s infinite;
}

.content-container2::before {
  background: url(../public/images/top-arrow.png);
  background-repeat: no-repeat;
  top: calc(50% - 250px); 
  right: 50px; 
}

.content-container2::after {
  background: url(../public/images/down-arrow.png);
  background-repeat: no-repeat;
  top: calc(50% + 100px); 
  right: 50px; }

.row:nth-child(1) .element-set .circle {
  animation: diagonalBounce 2s infinite;
}

.row:nth-child(2) .element-set {
  flex-direction: row-reverse;
  text-align: right;
  margin-left: auto;
}

.row:nth-child(2) .element-set .circle {
  position: absolute;
  right: -50px; 
  animation: slide 2s linear infinite;
}

.row:nth-child(3) .element-set .circle {
  animation: diagonalBounce 2s infinite;
}

.element-set {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 120px;
}

.circle-container {
  display: flex;
  height: fit-content;
  width: 30vh;
  justify-content: center;
  align-items: center;
}
.circle-container-right {
  display: flex;
  height: fit-content;
  width: 30vh;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #4f5884;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  position: absolute; 
  top: 20%; 
  left: 20%; 
  transform: translate(-50%, -50%); 
  z-index: 2;
  animation: slide 2s infinite;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes slide {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

@keyframes diagonalBounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, -20px);
  }
}

.row:nth-child(2) .text-container h2 {
  text-align: right;
}

.text-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.text-container h2 {
  font-size: 24px;
  text-align: left;
}

.text-container p {
  font-size: 20px;
  color: #333;
}


/* faq */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-image: url("../public/images/color-mono.png");  */
  background-repeat: repeat;
  background-size: 800px;
  padding: 20px;
  min-height: 100vh;
  flex-direction: column;
}


.faqContainer {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqTitle {
  font-size: 24px;
  margin-bottom: 20px;
}


.faqColumns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 20px; /* Space between columns and rows */
  max-width: 1200px; /* Maximum width of the columns */
  margin: 0 auto; /* Center the columns */
}

.faqItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.faqQuestionCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
   background-color:  #6EB5E5 /*#197eff*/;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  line-height: 1.5;
}


.faqQuestionCircle:hover {
  background-color: #6f90af;
  transform: scale(1.1);
  animation: bounce 0.6s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.faqItem.expanded .faqQuestionCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

.zigzag {
  border-bottom: 1px dashed #ccc;
  margin-top: 40px;
}


.faqRows {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.faqRow {
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.faqRowTitle {
  font-size: 24px;
  background-color: #4f5884;
  

}
/* Add this CSS to your project */

.brushed-title-container::before,
.brushed-title-container::after {
  content: "";
  position: absolute;
  width: 70px; /* Adjust the width of the brush stroke images */
  height: 34px; /* Adjust the height of the brush stroke images */
  background-repeat: no-repeat;
  background-size: contain;
}

.brushed-title-container::before {
  left: -10px; /* Adjust the positioning of the left brush stroke */
  top: 50%; /* Position it vertically in the middle */
  background-image: url("../public/images/left-paintingg.png"); /* Replace with the actual path to your left brush stroke image */
  transform: translateY(-50%);
  z-index: -1;
}

.brushed-title-container::after {   
  right: -70px; /* Adjust the positioning of the right brush stroke */
  top: 50%; /* Position it vertically in the middle */
  background-image: url("../public/images/right-paintingg.png"); /* Replace with the actual path to your right brush stroke image */
  transform: translateY(-50%); /* Center vertically */
  width: 78px; /* Set the width to match the image width */
  height: 34px;
  z-index: -2;
   /* Set the height to match the image height */
}


.faqCircles {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .faqContainer .faqRows .faqRow{
   
    width: 30%;

  }
}
/* cjenik */


/* kontakt */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}
.contact-main-title{
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 20px;
}
.contact-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px; /* Smaller padding */
  border: 1px dotted #000;
  border-radius: 10px;
  /* Rounded shape for the item */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 10px); /* Smaller width for 3 columns */
}

/* Style for the contact icon (using Font Awesome) */
.contact-icon {
  font-size: 24px;
  margin-bottom: 10px;
  width: 40px; /* Adjust the width of the icon container */
  height: 40px; /* Adjust the height of the icon container */
  display: flex;
  justify-content: center;
  align-items: center;
 /* Rounded shape for the circle */

}
.contact-title {
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Style for the contact text */
.contact-text {
  font-size: 12px; /* Smaller text size */
}

/* Adjust margins and paddings as needed */
.contact-item h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.contact-item p {
  font-size: 12px;
  color: #555;
  margin: 0;
}

/* Form container */
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form fields */
.form-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 70%;
  margin: 0 auto;

}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px dotted #000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Set the width to 70% */
  margin-top: 20px;
}

.contact-form label {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}



/* PriceList.css */

.price-list-container {

  padding: 20px;
  width: 100%;
  min-height: 100vh; /* Ensure the container covers the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6f90af; /* Center content horizontally */
}


h2 {
  margin: 0 0 20px 0;
  font-size: 24px;
  text-align: center; /* Center align the text */
  color: #000;
  background-color: red;
  position: relative;
  z-index: 0;
  padding-bottom: 2px; /* Set position to relative for pseudo-elements */
}

.brush::before,
.brush::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 34px;
  background-repeat: no-repeat;
  background-size: contain;
}

.brush::before {
  left: -10px;
  top: 0;
  z-index: -1;
  background-image: url("../public/images/left-paintingb.png");
}

.brush::after {
  right: -70px;
  top: 0;
  background-image: url("../public/images/right-paintinggb.png");
  width: 78px; /* Adjust the width to match the image width */
  height: 34px;
  z-index: -2; /* Adjust the height to match the image height */
}


.brushw::before,
.brushw::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 34px;
  background-repeat: no-repeat;
  background-size: contain;
}

.brushw::before {
  left: -10px;
  top: 0;
  z-index: -1;
  background-image: url("../public/images/left-painting.png");
}

.brushw::after {
  right: -70px;
  top: 0;
  background-image: url("../public/images/right-paintinggg.png");
  width: 78px; /* Adjust the width to match the image width */
  height: 34px;
  z-index: -2; /* Adjust the height to match the image height */
}
.price-items {
  display: flex;
  justify-content:center; /* Place items side by side */
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.price-item-ind {
  background-color: #fff;
  margin: 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(9, 133, 234, 0.452);
  text-align: center;
}

.price-list-ind {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 60px;
  max-width: fit-content;
  align-items: center;
  background-color: #3498db; /* Center the price list */
}

.price-item-ind p {
  margin: 5px;
}

.circle-details {
  text-align: center;
  
}

.circle-box {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}

.cta-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.cta-button:hover {
  background-color: #2674b7;
}
.price-list {
  display: flex;
  flex-direction: column;
 /* Light grey background color */
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px; /* Center the price list */
}

.price-item {
  display: flex;
  border-radius: 15px;
  margin-bottom: 20px; /* Increase the bottom margin for more height */
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 360px;

  
  display: flex;
  align-items: center; /* Vertically center the items */
}

.left-side {
  flex: 1;
  display: flex;
  align-items: center;
}

.vertical-line-container {
  height: 100%;
}

.vertical-line {
  width: 8px;
  background-color: #4f5884; /* Color of the vertical line */
  /* Adjust the height to match the price-item height */
  height: 100%;
}

h2.brush {
  margin: 0 0 10px 0; /* Add space below title */
  font-size: 24px;
  background-color: #6f90af; /* Increase font size */
  width: fit-content;
}
h2.brushw {
  margin: 0 0 10px 0; /* Add space below title */
  font-size: 24px;
  background-color: white; /* Increase font size */
  width: fit-content;
}


h2.brushi {
  margin: 40px 40px 40px 0; /* Add space below title */
  font-size: 36px;
  background-color: #6f90af; /* Increase font size */
  width: fit-content;
  justify-content: center;
}

.brushi::before,
.brushi::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.brushi::before {
  left: -10px;
  top: 0;
  z-index: -1;
  background-image: url("../public/images/left-paintingb.png");
}

.brushi::after {
  right: -70px;
  top: 0;
  background-image: url("../public/images/right-paintinggb.png");
  width: 108px; /* Adjust the width to match the image width */
  height: 200px;
  z-index: -2; /* Adjust the height to match the image height */
}
p {
  margin: 0 0 10px 0; /* Add space below paragraph */
  font-size: 16px; /* Reduce font size */
}

.price {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Add bullets in front of <br> elements */
.price-item br::before {
  content: "\2022"; /* Bullet character */
  margin-right: 5px;
  color:#3498db;/* Space between bullet and text */
}

/* Style for the bullet points */
.price-item ul {
  list-style-type:disc;
  padding-left: 20px;
  margin: 0;
}
.price-item li {
  margin: 5px 0;
}




@media (max-width: 768px) {
  .price-list .right-side {
    padding-right: 12px;
  }
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.backgroundp {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
  }
  
  .backgroundp::after {
    content: '';
    background: #4f5884;
    background: -moz-linear-gradient(top, #60a9ff 0%, #4f5884 100%);
    background: -webkit-linear-gradient(top, #60a9ff 0%, #4f5884 100%);
    background: linear-gradient(to bottom, #60a9ff 0%, #4f5884 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#60a9ff',
      endColorstr='#4394f4',
      GradientType=0
    );
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  @media (min-width: 900px) {
    .backgroundp {
      padding: 0 0 25px;
    }
  }
  
  .containerp {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 960px;
    width: 100%;
    display: flex; /* Use flexbox for centering vertically and horizontally */
 /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center;;
  }
  
  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
    margin-top: 40px;
    
  }
  
  .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
      0px 20px 31px 3px rgba(0, 0, 0, 0.09),
      0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    flex-direction: column;
    
    
     /* Center both horizontally and vertically */
    
  }
  
  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }
  
  .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .pricing-img-container {
    display: flex;
    justify-content: center;
  }
  
  .pricing-img {
    max-width: 100%;
  }
  
  
  .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .pricing-features {
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;

  }
  
  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }
  
  .pricing-price {
    color: #000;
    display: block;
    font-size: 32px;
    font-weight: 400;
  }
  
  .pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }

  .pricing-button:hover,
  .pricing-button:focus {
    background-color: #e1f1ff;
  }
  
  .pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
    background-color: #269aff;
  }
  
  h2 {
    margin: 0 0 10px 0; /* Add space below title */
    font-size: 24px;
    background-color: #fff; /* Increase font size */
    width: fit-content;
  }

  .icon-images {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 110px;
    position: relative;
    z-index: 1; /* Set a higher z-index */
  }